<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidDevelopment">
        <activity
            android:name=".UploadDatabase"
            android:exported="false" />
        <activity
            android:name=".Task11"
            android:exported="false" />
        <activity
            android:name=".Task12"
            android:exported="false" />
        <activity
            android:name=".Task13"
            android:exported="false" />
        <activity
            android:name=".UserActivity"
            android:exported="false" />
        <activity
            android:name=".UserActivity2"
            android:exported="false" />
        <activity
            android:name=".CursorActivity"
            android:exported="false" />
        <activity
            android:name=".OpenHelper"
            android:exported="false" />
        <activity
            android:name=".Task7SQLite"
            android:exported="false" />
        <activity
            android:name=".ExternalStorage"
            android:exported="false" />
        <activity
            android:name=".ReadSave"
            android:exported="false" />
        <activity
            android:name=".SharedPref"
            android:exported="false" />
        <activity
            android:name=".SaveInst"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>